/* Estilos generales del menú */
.menu-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    background-color: rgb(36, 36, 36);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    padding-top: 5px;
    padding-bottom: 5px;
    box-shadow: 0px 4px 6px rgba(255, 255, 255, 0.1);
    z-index: 50;
}

.menu-logo img {
    height: 50px;
}

.menu-nav {
    display: flex;
    gap: 24px;
    list-style: none;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
    background-color: rgb(36, 36, 36);
}

.menu-nav a {
    white-space: nowrap;
    color: rgb(255, 255, 255);
}

.menu-nav a:hover {
    color: rgba(0, 84, 220, 0.938);
}

.menu-separator {
    display: inline-block;
    width: 2px;
    height: 100%;
    background: rgba(255, 255, 255, 0.6);
    margin: 0 5px;
    border-radius: 1px;
}

/* Botón scroll-to-top */
.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #ffffff;
    color: white;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: opacity 0.3s ease-in-out, filter 300ms;
    z-index: 2;
}

.scroll-to-top:hover {
    background-color: rgba(0, 84, 220, 0.938);
    filter: drop-shadow(0 0 10px rgb(17, 21, 92)) drop-shadow(0 0 20px rgba(5, 11, 120, 0.5));
}

/* Estilos para el modo claro */
body.light-mode {
    --background-color: rgb(220, 232, 248);
    color: black;
}

body.light-mode .menu-bar {
    background-color: rgb(220, 232, 248);
    color: black;
    box-shadow: 0px 4px 6px #688ecab9;
}

body.light-mode .menu-nav {
    background-color: rgb(220, 232, 248);
}

body.light-mode .menu-nav a {
    color: #000000;
}

body.light-mode .menu-nav a:hover {
    color: rgba(0, 84, 220, 0.938);
}

body.light-mode .menu-separator {
    background: rgba(0, 0, 0, 0.6);
}

body.light-mode .scroll-to-top {
    background-color: #1e293b;
}

body.light-mode .menu-toggle {
    background: transparent;
}

body.light-mode .menu-toggle span {
    background: #1e293b;
}

/* Estilos para el menú hamburguesa */
.menu-toggle {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 35px;
    background: transparent;
    height: 35px;
    border: none;
    outline: none !important;
    border-radius: 20px;
    cursor: pointer;
    position: relative;
}

.menu-toggle span {
    width: 20px;
    height: 2px;
    background: white;
    border-radius: 2px;
    position: absolute;
    transition: transform 0.3s ease-in-out, opacity 0.2s ease-in-out;
}

.menu-toggle span:nth-child(1) {
    top: 8px;
}

.menu-toggle span:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
}

.menu-toggle span:nth-child(3) {
    bottom: 8px;
}

.menu-toggle.open span:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.menu-toggle.open span:nth-child(2) {
    opacity: 0;
}

.menu-toggle.open span:nth-child(3) {
    transform: translateY(-8.5px) rotate(-45deg);
}

/* Menú desplegable en responsive */
@media (max-width: 768px) {
    .menu-toggle {
        display: flex;
    }

    .menu-nav {
        display: none;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        padding: 12px;
        z-index: 99;
        box-shadow: 0px 4px 6px rgba(255, 255, 255, 0.1);
    }

    .menu-nav.open {
        display: flex;
    }

    .menu-nav a {
        color: white;
    }

    body.light-mode .menu-nav {
        background-color: rgb(220, 232, 248);
        box-shadow: 0px 4px 6px #688ecab9;
    }

    body.light-mode .menu-nav a {
        color: black;
    }
}